release/*

**/l10n/locale
**/l10n/template.pot

apps/*
!apps/draw-io
!apps/files
!apps/markdown-editor
!apps/media-viewer
!apps/pdf-viewer

build/version.json

.idea
*.bundle.js
*.bundle.js.map
*.chunk.js
*.chunk.js.map

config.json
package-lock.json

node_modules
dist
dist-wc

*.log
.DS_Store
.envrc

tests/reports
