auto-install-peers=true
shared-workspace-lockfile=true

# apps
public-hoist-pattern[]=owncloud-design-system
public-hoist-pattern[]=owncloud-sdk

# esm modules (so we can easily transpile them via jest config)
public-hoist-pattern[]=lodash-es

# @vue/component-compiler-utils
hoist-pattern[]=sass

# @vue/test-utils (@1.3.0 ?)
hoist-pattern[]=vuex

# eslint (public so they are picked up by IDEs)
public-hoist-pattern[]=*eslint*

# owncloud-design-system
hoist-pattern[]=*babel*
hoist-pattern[]=deepmerge
hoist-pattern[]=vue-select


# vue-concurrency (so we can easily alias the import to a different build)
public-hoist-pattern[]=caf
