auto-install-peers=true
shared-workspace-lockfile=true

# apps
public-hoist-pattern[]=owncloud-sdk

# esm modules (so we can easily transpile them via jest config)
public-hoist-pattern[]=lodash-es
public-hoist-pattern[]=mark.js
public-hoist-pattern[]=fuse.js
public-hoist-pattern[]=filesize

# @vue/component-compiler-utils
hoist-pattern[]=sass

# @vue/test-utils (@1.3.0 ?)
hoist-pattern[]=vuex

# eslint (public so they are picked up by IDEs)
public-hoist-pattern[]=*eslint*


# Make ODS available to tests, even if the main package does not require it
public-hoist-pattern[]=@ownclouders/design-system
