{
  "server" : "https://demo.owncloud.com",
  "theme": "owncloud",
  "version": "0.1.0",
  "auth": {
    "clientId": "",
    "url": "https://demo.owncloud.com/index.php/apps/oauth2/api/v1/token",
    "authUrl": "https://demo.owncloud.com/index.php/apps/oauth2/authorize"
  },
  "apps" : ["files"],
  "applications": [
    {
      "title": {
        "en": "Files",
        "de": "Dateien",
        "fr": "Fichiers",
        "zh_CN": "文件"
        },
      "icon": "folder",
      "url": "http://demo.owncloud.com/index.html#/files/list"
    },
    {
      "title": {
        "en": "App living inside of Phoenix core SPA"
      },
      "icon": "info",
      "path": "/internal-app"
    }
  ]
}
