{
  "server" : "https://demo.owncloud.com",
  "theme": "owncloud",
  "version": "0.1.0",
  "auth": {
    "clientId": "",
    "url": "https://demo.owncloud.com/index.php/apps/oauth2/api/v1/token",
    "authUrl": "https://demo.owncloud.com/index.php/apps/oauth2/authorize"
  },
  "apps" : ["files"]
}