{
	"server" : "https://demo.owncloud.com",
	"theme": "owncloud",
	"version": "0.1.0",
	"auth": {
    "clientId": "",
    "apiUrl": "",
    "authUrl": ""
  },
	"enableAvatars": true,
	"apps" : [
		"files"
	]
}
