.uk-inline {
  > .material-icons {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: @global-muted-color;
  }
  > .uk-input {
    padding-left: 40px;
  }
}

.hook-form() {
    font-size: @form-small-font-size;
}
