{
  "server" : "",
  "theme": "https://localhost:9200/themes/owncloud/theme.json",
  "version": "0.1.0",
  "auth": {
    "clientId": "",
    "url": "",
    "authUrl": ""
  },
  "apps" : [
    "files",
    "search",
    "media-viewer",
    "draw-io"
  ],
  "applications" : []
}
