@mixin oc-background-primary-gradient {
  background:
    linear-gradient(
      90deg,
      var(--oc-color-primary) 0%,
      var(--oc-color-onPrimaryFixed) 100%
    );

  &:focus:not([disabled]),
  &:hover:not([disabled])
  {
    background: linear-gradient(
      90deg,
      var(--oc-color-onPrimaryContainer) 0%,
      var(--oc-color-onPrimaryFixedVariant) 100%
    );
  }
}

.oc-background-selected {
  background-color: var(--oc-color-surfaceBright) !important;
}

.oc-background-brand {
  background-color: var(--oc-color-primary) !important;
}

.oc-background-default {
  background-color: var(--oc-color-background) !important;
}

/* stylelint-disable */
.oc-background-primary-gradient {
  @include oc-background-primary-gradient;
}

/* stylelint-enable */

.oc-background-secondary {
  background-color: var(--oc-color-background) !important;
}

.oc-background-muted {
  background-color: var(--oc-color-background-muted) !important;
}

.oc-background-highlight {
  background-color: var(--oc-color-surfaceBright) !important;
}

.oc-background-contain {
  background-size: contain;
}

.oc-background-cover {
  background-size: cover;
}

.oc-background-contain,
.oc-background-cover {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
