// Ported from UiKit until we change UI frameworks

// Name:            Width
// Description:     Utilities for widths
//
// Component:       `oc-child-width-*`
//                  `oc-width-*`
//
// ========================================================================

// Variables
// ========================================================================

$width-small-width: 150px !default;
$width-medium-width: 300px !default;
$width-large-width: 450px !default;
$width-xlarge-width: 600px !default;
$width-2xlarge-width: 750px !default;

/* ========================================================================
   Component: Width
 ========================================================================== */

/* Equal child widths
 ========================================================================== */

[class*="oc-child-width"] > * {
  box-sizing: border-box;
  width: 100%;
}

.oc-child-width-1-2 > * { width: 50%; }
.oc-child-width-1-3 > * { width: calc(100% * 1 / 3.001); }
.oc-child-width-1-4 > * { width: 25%; }
.oc-child-width-1-5 > * { width: 20%; }
.oc-child-width-1-6 > * { width: calc(100% * 1 / 6.001); }

.oc-child-width-auto > * { width: auto; }

/*
 * 1. Reset the `min-width`, which is set to auto by default, because
 *    flex items won't shrink below their minimum intrinsic content size.
 *    Using `1px` instead of `0`, so items still wrap into the next line,
 *    if they have zero width and padding and the predecessor is 100% wide.
 */

.oc-child-width-expand > :not([class*="oc-width"]) {
  flex: 1;

  /* 1 */
  min-width: 1px;
}

/* Phone landscape and bigger */
@media (min-width: $oc-breakpoint-small-default) {

  .oc-child-width-1-1\@s > * { width: 100%; }
  .oc-child-width-1-2\@s > * { width: 50%; }
  .oc-child-width-1-3\@s > * { width: calc(100% * 1 / 3.001); }
  .oc-child-width-1-4\@s > * { width: 25%; }
  .oc-child-width-1-5\@s > * { width: 20%; }
  .oc-child-width-1-6\@s > * { width: calc(100% * 1 / 6.001); }

  .oc-child-width-auto\@s > * { width: auto; }

  .oc-child-width-expand\@s > :not([class*="oc-width"]) {
    flex: 1;
    min-width: 1px;
  }
}

/* Tablet landscape and bigger */
@media (min-width: $oc-breakpoint-medium-default) {

  .oc-child-width-1-1\@m > * { width: 100%; }
  .oc-child-width-1-2\@m > * { width: 50%; }
  .oc-child-width-1-3\@m > * { width: calc(100% * 1 / 3.001); }
  .oc-child-width-1-4\@m > * { width: 25%; }
  .oc-child-width-1-5\@m > * { width: 20%; }
  .oc-child-width-1-6\@m > * { width: calc(100% * 1 / 6.001); }

  .oc-child-width-auto\@m > * { width: auto; }

  .oc-child-width-expand\@m > :not([class*="oc-width"]) {
    flex: 1;
    min-width: 1px;
  }
}

/* Desktop and bigger */
@media (min-width: $oc-breakpoint-large-default) {

  .oc-child-width-1-1\@l > * { width: 100%; }
  .oc-child-width-1-2\@l > * { width: 50%; }
  .oc-child-width-1-3\@l > * { width: calc(100% * 1 / 3.001); }
  .oc-child-width-1-4\@l > * { width: 25%; }
  .oc-child-width-1-5\@l > * { width: 20%; }
  .oc-child-width-1-6\@l > * { width: calc(100% * 1 / 6.001); }

  .oc-child-width-auto\@l > * { width: auto; }

  .oc-child-width-expand\@l > :not([class*="oc-width"]) {
    flex: 1;
    min-width: 1px;
  }
}

/* Large screen and bigger */
@media (min-width: $oc-breakpoint-xlarge) {

  .oc-child-width-1-1\@xl > * { width: 100%; }
  .oc-child-width-1-2\@xl > * { width: 50%; }
  .oc-child-width-1-3\@xl > * { width: calc(100% * 1 / 3.001); }
  .oc-child-width-1-4\@xl > * { width: 25%; }
  .oc-child-width-1-5\@xl > * { width: 20%; }
  .oc-child-width-1-6\@xl > * { width: calc(100% * 1 / 6.001); }

  .oc-child-width-auto\@xl > * { width: auto; }

  .oc-child-width-expand\@xl > :not([class*="oc-width"]) {
    flex: 1;
    min-width: 1px;
  }
}

/* Single Widths
 ========================================================================== */

/*
 * 1. `max-width` is needed for the pixel-based classes
 */

[class*="oc-width"] {
  box-sizing: border-box;

  /* 1 */
  max-width: 100%;
  width: 100%;
}

/* Halves */
.oc-width-1-2 { width: 50%; }

/* Thirds */
.oc-width-1-3 { width: calc(100% * 1 / 3.001); }
.oc-width-2-3 { width: calc(100% * 2 / 3.001); }

/* Quarters */
.oc-width-1-4 { width: 25%; }
.oc-width-3-4 { width: 75%; }

/* Fifths */
.oc-width-1-5 { width: 20%; }
.oc-width-2-5 { width: 40%; }
.oc-width-3-5 { width: 60%; }
.oc-width-4-5 { width: 80%; }

/* Sixths */
.oc-width-1-6 { width: calc(100% * 1 / 6.001); }
.oc-width-5-6 { width: calc(100% * 5 / 6.001); }

/* Pixel */
.oc-width-small { width: $width-small-width; }
.oc-width-medium { width: $width-medium-width; }
.oc-width-large { width: $width-large-width; }
.oc-width-xlarge { width: $width-xlarge-width; }
.oc-width-2xlarge { width: $width-2xlarge-width; }

/* Auto */
.oc-width-auto { width: auto !important; }

/* Expand */
.oc-width-expand {
  flex: 1;
  min-width: 1px;
}

/* Phone landscape and bigger */
@media (min-width: $oc-breakpoint-small-default) {
  /* Whole */
  .oc-width-1-1\@s { width: 100%; }

  /* Halves */
  .oc-width-1-2\@s { width: 50%; }

  /* Thirds */
  .oc-width-1-3\@s { width: calc(100% * 1 / 3.001); }
  .oc-width-2-3\@s { width: calc(100% * 2 / 3.001); }

  /* Quarters */
  .oc-width-1-4\@s { width: 25%; }
  .oc-width-3-4\@s { width: 75%; }

  /* Fifths */
  .oc-width-1-5\@s { width: 20%; }
  .oc-width-2-5\@s { width: 40%; }
  .oc-width-3-5\@s { width: 60%; }
  .oc-width-4-5\@s { width: 80%; }

  /* Sixths */
  .oc-width-1-6\@s { width: calc(100% * 1 / 6.001); }
  .oc-width-5-6\@s { width: calc(100% * 5 / 6.001); }

  /* Pixel */
  .oc-width-small\@s { width: $width-small-width; }
  .oc-width-medium\@s { width: $width-medium-width; }
  .oc-width-large\@s { width: $width-large-width; }
  .oc-width-xlarge\@s { width: $width-xlarge-width; }
  .oc-width-2xlarge\@s { width: $width-2xlarge-width; }

  /* Auto */
  .oc-width-auto\@s { width: auto; }

  /* Expand */
  .oc-width-expand\@s {
    flex: 1;
    min-width: 1px;
  }
}

/* Tablet landscape and bigger */
@media (min-width: $oc-breakpoint-medium-default) {
  /* Whole */
  .oc-width-1-1\@m { width: 100%; }

  /* Halves */
  .oc-width-1-2\@m { width: 50%; }

  /* Thirds */
  .oc-width-1-3\@m { width: calc(100% * 1 / 3.001); }
  .oc-width-2-3\@m { width: calc(100% * 2 / 3.001); }

  /* Quarters */
  .oc-width-1-4\@m { width: 25%; }
  .oc-width-3-4\@m { width: 75%; }

  /* Fifths */
  .oc-width-1-5\@m { width: 20%; }
  .oc-width-2-5\@m { width: 40%; }
  .oc-width-3-5\@m { width: 60%; }
  .oc-width-4-5\@m { width: 80%; }

  /* Sixths */
  .oc-width-1-6\@m { width: calc(100% * 1 / 6.001); }
  .oc-width-5-6\@m { width: calc(100% * 5 / 6.001); }

  /* Pixel */
  .oc-width-small\@m { width: $width-small-width; }
  .oc-width-medium\@m { width: $width-medium-width; }
  .oc-width-large\@m { width: $width-large-width; }
  .oc-width-xlarge\@m { width: $width-xlarge-width; }
  .oc-width-2xlarge\@m { width: $width-2xlarge-width; }

  /* Auto */
  .oc-width-auto\@m { width: auto; }

  /* Expand */
  .oc-width-expand\@m {
    flex: 1;
    min-width: 1px;
  }
}

/* Desktop and bigger */
@media (min-width: $oc-breakpoint-large-default) {
  /* Whole */
  .oc-width-1-1\@l { width: 100%; }

  /* Halves */
  .oc-width-1-2\@l { width: 50%; }

  /* Thirds */
  .oc-width-1-3\@l { width: calc(100% * 1 / 3.001); }
  .oc-width-2-3\@l { width: calc(100% * 2 / 3.001); }

  /* Quarters */
  .oc-width-1-4\@l { width: 25%; }
  .oc-width-3-4\@l { width: 75%; }

  /* Fifths */
  .oc-width-1-5\@l { width: 20%; }
  .oc-width-2-5\@l { width: 40%; }
  .oc-width-3-5\@l { width: 60%; }
  .oc-width-4-5\@l { width: 80%; }

  /* Sixths */
  .oc-width-1-6\@l { width: calc(100% * 1 / 6.001); }
  .oc-width-5-6\@l { width: calc(100% * 5 / 6.001); }

  /* Pixel */
  .oc-width-small\@l { width: $width-small-width; }
  .oc-width-medium\@l { width: $width-medium-width; }
  .oc-width-large\@l { width: $width-large-width; }
  .oc-width-xlarge\@l { width: $width-xlarge-width; }
  .oc-width-2xlarge\@l { width: $width-2xlarge-width; }

  /* Auto */
  .oc-width-auto\@l { width: auto; }

  /* Expand */
  .oc-width-expand\@l {
    flex: 1;
    min-width: 1px;
  }
}

/* Large screen and bigger */
@media (min-width: $oc-breakpoint-xlarge) {
  /* Whole */
  .oc-width-1-1\@xl { width: 100%; }

  /* Halves */
  .oc-width-1-2\@xl { width: 50%; }

  /* Thirds */
  .oc-width-1-3\@xl { width: calc(100% * 1 / 3.001); }
  .oc-width-2-3\@xl { width: calc(100% * 2 / 3.001); }

  /* Quarters */
  .oc-width-1-4\@xl { width: 25%; }
  .oc-width-3-4\@xl { width: 75%; }

  /* Fifths */
  .oc-width-1-5\@xl { width: 20%; }
  .oc-width-2-5\@xl { width: 40%; }
  .oc-width-3-5\@xl { width: 60%; }
  .oc-width-4-5\@xl { width: 80%; }

  /* Sixths */
  .oc-width-1-6\@xl { width: calc(100% * 1 / 6.001); }
  .oc-width-5-6\@xl { width: calc(100% * 5 / 6.001); }

  /* Pixel */
  .oc-width-small\@xl { width: $width-small-width; }
  .oc-width-medium\@xl { width: $width-medium-width; }
  .oc-width-large\@xl { width: $width-large-width; }
  .oc-width-xlarge\@xl { width: $width-xlarge-width; }
  .oc-width-2xlarge\@xl { width: $width-2xlarge-width; }

  /* Auto */
  .oc-width-auto\@xl { width: auto; }

  /* Expand */
  .oc-width-expand\@xl {
    flex: 1;
    min-width: 1px;
  }
}
