@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Regular.woff2) format("woff2"),
    url(fonts/SourceSansPro-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Semibold.woff2) format("woff2"),
    url(fonts/SourceSansPro-Semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Bold.woff2) format("woff2"),
    url(fonts/SourceSansPro-Bold.woff2) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 18px;
  letter-spacing: 0.11px;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

a,
a:visited,
.gdoc-page__footer a,
.gdoc-page__footer a:visited,
.gdoc-page__header a,
.gdoc-page__header a:visited {
  color: #4e85c8;
}

.gdoc-nav {
  font-size: 0.95rem;
  letter-spacing: 0;
}

.gdoc-nav--main > ul > li > span,
.gdoc-nav--main > ul > li > span > a,
.gdoc-nav--main > ul > li > span > a:visited {
  font-weight: 600;
  color: rgb(229, 111, 53);
}
.gdoc-nav__entry.is-active,
.gdoc-nav__entry:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: dotted !important;
  text-decoration-style: dotted !important;
}

.gdoc-markdown code {
  background-color: rgba(86, 96, 105, 0.1);
}
.gdoc-header {
  background: #1b223d;
  border-color: #2f333e;
}
.gdoc-footer {
  background: #2f333e;
  color: #ffffff;
}
.gdoc-footer__link,
.gdoc-footer__link:visited,
.gdoc-footer__link:hover {
  color: #e66f35;
}

.page-image {
  padding: 1rem 0;
  text-align: center;
}
.gdoc-markdown table tr td,
.gdoc-markdown table tr th {
  padding: 0.4rem;
  font-size: 16px;
  line-height: 1.1em;
}
.gdoc-markdown table thead {
  color: rgb(229, 111, 53);
}
.gdoc-toc a,
.gdoc-toc a:visited {
  font-weight: 600;
  color: #4e85c8;
}
/* custom shortcodes */
/* button */
.gdoc-button {
  color: #495057;
}
.gdoc-button:hover {
  background-color: #e56f35;
  border-color: #cd551a;
  color: #ffffff;
}

/* class allows to float images to the right side, next to text */
figure.floatright {
  max-width: 30%;
  width: auto\9 * 0.3; /* ie8 */
  height: auto;
  float: right;
}

.gdoc-brand__img {
  margin-right: 1rem;
  width: auto;
  height: 2.5rem;
}
