//
// Component: OC Icon
//
// ========================================================================

$oc-icon-size: 24px;

.oc-icon {
  // SVG wrapper
  display: inline-block;

  svg {
    display: block;
    fill: $global-color;
  }

  &,
  > svg {
    width: $oc-icon-size;
    height: $oc-icon-size;
  }

  &-medium {
    &,
    > svg {
      width: $oc-icon-size * 1.5;
      height: $oc-icon-size * 1.5;
    }
  }

  &-large {
    &,
    > svg {
      width: $oc-icon-size * 2;
      height: $oc-icon-size * 2;
    }
  }

  // Variations

  &-file-type > svg {
    fill: $filetype-icon-color;
  }

  &-system > svg {
    fill: $system-icon-color;
  }

  &-muted > svg {
    fill: $global-muted-background;
  }

  &-inverted > svg {
    fill: $global-inverse-color;
  }

  &-warning > svg {
    fill: $global-warning-background;
  }

  &-success > svg {
    fill: $global-success-background;
  }

  &-danger > svg {
    fill: $global-danger-background;
  }
}

@mixin hook-inverse() {
  .oc-icon > svg {
    fill: $global-inverse-color;
  }
}
