$global-font-size: 15px;
$global-background: white;

$global-color: rgb(0, 41, 102);
$global-emphasis-color: rgb(0, 41, 102);
$global-muted-color: rgb(102, 127, 163);

$global-link-color: rgb(0, 102, 255);
$global-link-hover-color: rgb(0, 102, 255);

$global-muted-background: rgb(102, 127, 163);
$global-primary-background: rgb(0, 41, 102);
$global-secondary-background: rgb(103, 128, 162);

$global-success-background: rgb(104, 214, 14);
$global-warning-background: rgb(255, 136, 0);
$global-danger-background: rgb(224, 0, 0);

$global-border: #ccd4e0;

$navbar-nav-item-height: 60px;

$filetype-icon-color: rgb(102, 127, 163);
$system-icon-color: rgb(102, 127, 163);
